/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes rotateBTN {
  0%,16%,33%,49%,67%,84%,100% {
    background-color: #7D0A44;
    border-color: #7D0A44;
  }
  0%, 67%, 100% {
    color: #fff;
  }
  16% {
    color: #ABABAB;
  }
  33%, 49%, 67%, 84% {
    color: #231F20;
  }
  0% {
    background-color: #7D0A44;
    border-color: #7D0A44;
  }
  16% {
    background-color: #9B0B4D;
    border-color: #9B0B4D;
  }
  33% {
    background-color: #DC177A;
    border-color: #DC177A;
  }
  49% {
    background-color: #D01160;
    border-color: #D01160;
  }
  67% {
    background-color: #6B083F;
    border-color: #6B083F;
  }
  84% {
    background-color: #C20F5C;
    border-color: #C20F5C;
  }
  100% {
    background-color: #7D0A44;
    border-color: #7D0A44;
  }
}
@keyframes rotateBTN {
  0%,16%,33%,49%,67%,84%,100% {
    background-color: #7D0A44;
    border-color: #7D0A44;
  }
  0%, 67%, 100% {
    color: #fff;
  }
  16% {
    color: #ABABAB;
  }
  33%, 49%, 67%, 84% {
    color: #231F20;
  }
  0% {
    background-color: #7D0A44;
    border-color: #7D0A44;
  }
  16% {
    background-color: #9B0B4D;
    border-color: #9B0B4D;
  }
  33% {
    background-color: #DC177A;
    border-color: #DC177A;
  }
  49% {
    background-color: #D01160;
    border-color: #D01160;
  }
  67% {
    background-color: #6B083F;
    border-color: #6B083F;
  }
  84% {
    background-color: #C20F5C;
    border-color: #C20F5C;
  }
  100% {
    background-color: #7D0A44;
    border-color: #7D0A44;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes newPlayer {
  0% {
    color: #f752ec;
    font-size: 3vh;
  }
  50% {
    color: #fba9f5;
    font-size: 4vh;
  }
  100% {
    color: #fba9f5;
    font-size: 3vh;
  }
}
@keyframes newPlayer {
  0% {
    color: #f752ec;
    font-size: 3vh;
  }
  50% {
    color: #fba9f5;
    font-size: 4vh;
  }
  100% {
    color: #f752ec;
    font-size: 3vh;
  }
}
/* line 1, ../sass/_init.scss */
.init-Cont {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 2, ../sass/_init.scss */
.init-Cont button {
  border: 0;
  outline: none;
  background-color: #231F20;
  color: #df167a;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu';
  font-size: 4vh;
  height: 10vh;
  margin-top: 1vh;
  text-transform: uppercase;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 96.5%;
}
/* line 17, ../sass/_init.scss */
.init-Cont button:hover {
  background-color: #3b3436;
  font-size: 5vh;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 22, ../sass/_init.scss */
.init-Cont button.inactive {
  color: rgba(223, 22, 122, 0.25);
  font-size: 3vh;
  pointer-events: none;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 29, ../sass/_init.scss */
.init-Cont .player-settings {
  width: 100%;
}
/* line 31, ../sass/_init.scss */
.init-Cont .player-settings .team {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 47%;
}
/* line 36, ../sass/_init.scss */
.init-Cont .player-settings .team:first-child {
  margin-right: 2.5%;
}
/* line 39, ../sass/_init.scss */
.init-Cont .player-settings .team h3 {
  color: #eee;
  font-size: 5vh;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 7.5vh;
  pointer-events: none;
  position: relative;
  text-transform: uppercase;
}
/* line 51, ../sass/_init.scss */
.init-Cont .player-settings .team1 h4 {
  color: #df167a;
  text-shadow: 1px 1px 0 #3b3436, -1px 1px 0 #3b3436, 1px -1px 0 #3b3436, -1px -1px 0 #3b3436;
}
/* line 55, ../sass/_init.scss */
.init-Cont .player-settings .team1 .p1 h4 {
  background-color: rgba(190, 255, 0, 0.75);
}
/* line 58, ../sass/_init.scss */
.init-Cont .player-settings .team1 .p2 h4 {
  background-color: rgba(255, 0, 120, 0.75);
}
/* line 63, ../sass/_init.scss */
.init-Cont .player-settings .team2 h4 {
  color: #6B083F;
  text-shadow: 1px 1px 0 #eee, -1px 1px 0 #eee, 1px -1px 0 #eee, -1px -1px 0 #eee;
}
/* line 67, ../sass/_init.scss */
.init-Cont .player-settings .team2 .p1 h4 {
  background-color: rgba(127, 128, 130, 0.75);
}
/* line 70, ../sass/_init.scss */
.init-Cont .player-settings .team2 .p2 h4 {
  background-color: rgba(0, 60, 255, 0.75);
}
/* line 74, ../sass/_init.scss */
.init-Cont .player-settings .selectTag {
  min-height: 24vh;
  padding-bottom: 1vh;
  position: relative;
}
/* line 78, ../sass/_init.scss */
.init-Cont .player-settings .selectTag.open {
  overflow: scroll;
}
/* line 80, ../sass/_init.scss */
.init-Cont .player-settings .selectTag.open ul {
  height: auto !important;
  z-index: 500;
}
/* line 83, ../sass/_init.scss */
.init-Cont .player-settings .selectTag.open ul li {
  border-bottom: 1px solid #231F20;
  border-top: 1px solid #231F20;
  cursor: pointer;
  max-height: 50vh;
  opacity: 1;
  padding: 0.5rem;
  pointer-events: auto;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
/* line 99, ../sass/_init.scss */
.init-Cont .player-settings .selectTag input {
  display: none;
}
/* line 102, ../sass/_init.scss */
.init-Cont .player-settings .selectTag h4 {
  background-image: url("../img/pl-profile.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  font-size: 3vh;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 5vh;
  min-height: 23.5vh;
  padding-top: 18vh;
  position: relative;
  text-transform: uppercase;
  width: 95%;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 118, ../sass/_init.scss */
.init-Cont .player-settings .selectTag h4:first-child {
  margin-bottom: 1vh;
}
/* line 123, ../sass/_init.scss */
.init-Cont .player-settings .selectTag ul {
  bottom: 0;
  height: 0 !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
/* line 131, ../sass/_init.scss */
.init-Cont .player-settings .selectTag ul li {
  background-color: #7D0A44;
  background-image: none !important;
  color: #ccc;
  display: inline-block;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
/* line 145, ../sass/_init.scss */
.init-Cont .game-settings {
  background-color: #eee;
  display: inline-block;
  margin-top: 10px;
  width: 96.5%;
}
/* line 150, ../sass/_init.scss */
.init-Cont .game-settings .selectTag {
  display: inline-block;
  padding: 1vh 0;
  position: relative;
  vertical-align: middle;
  width: 30%;
}
/* line 156, ../sass/_init.scss */
.init-Cont .game-settings .selectTag.open {
  overflow: scroll;
}
/* line 158, ../sass/_init.scss */
.init-Cont .game-settings .selectTag.open ul {
  height: auto !important;
  z-index: 500;
}
/* line 161, ../sass/_init.scss */
.init-Cont .game-settings .selectTag.open ul li {
  border-bottom: 1px solid #231F20;
  border-top: 1px solid #231F20;
  cursor: pointer;
  max-height: 50vh;
  opacity: 1;
  padding: 0.5rem;
  pointer-events: auto;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
/* line 177, ../sass/_init.scss */
.init-Cont .game-settings .selectTag input {
  display: none;
}
/* line 180, ../sass/_init.scss */
.init-Cont .game-settings .selectTag h3 {
  padding: 0 0 1vh;
}
/* line 183, ../sass/_init.scss */
.init-Cont .game-settings .selectTag h4 {
  background-color: #df167a;
  cursor: pointer;
  font-size: 2.5vh;
  padding: 1.25vh 0;
}
/* line 189, ../sass/_init.scss */
.init-Cont .game-settings .selectTag ul {
  bottom: 0;
  height: 0 !important;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
/* line 197, ../sass/_init.scss */
.init-Cont .game-settings .selectTag ul li {
  background-color: #7D0A44;
  background-image: none !important;
  color: #ccc;
  display: inline-block;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* line 1, ../sass/_action.scss */
.player1 {
  color: #BEFF00;
}

/* line 4, ../sass/_action.scss */
.player2 {
  color: #7F8082;
}

/* line 7, ../sass/_action.scss */
.player3 {
  color: #FF0078;
}

/* line 10, ../sass/_action.scss */
.player4 {
  color: #003CFF;
}

/* line 13, ../sass/_action.scss */
.winner {
  color: #61FF81 !important;
}

/* line 16, ../sass/_action.scss */
.tie {
  color: #F9FF45 !important;
}

/* line 19, ../sass/_action.scss */
.loser {
  color: #FF6186 !important;
}

/* line 23, ../sass/_action.scss */
.action-Cont {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 34, ../sass/_action.scss */
.scoreboard .serves {
  background-color: rgba(35, 31, 32, 0.15);
  display: inline-block;
  margin: 0 1%;
  position: relative;
  width: 30%;
  vertical-align: middle;
}
/* line 41, ../sass/_action.scss */
.scoreboard .serves .voronoi {
  z-index: -1;
}
/* line 44, ../sass/_action.scss */
.scoreboard .serves .current-server {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
/* line 48, ../sass/_action.scss */
.scoreboard .serves .current-server h2 {
  color: #df167a;
  font-size: 1.5vh;
  line-height: 2vh;
  text-transform: uppercase;
}
/* line 54, ../sass/_action.scss */
.scoreboard .serves .current-server div {
  width: 100%;
  height: 25vh;
}
/* line 58, ../sass/_action.scss */
.scoreboard .serves .current-server h6 {
  font-family: "Monda";
  font-size: 3vh;
  line-height: 4vh;
  text-transform: uppercase;
}
/* line 64, ../sass/_action.scss */
.scoreboard .serves .current-server .serv-Cont {
  background-color: rgba(35, 31, 32, 0.75);
  height: 6vh;
}
/* line 70, ../sass/_action.scss */
.scoreboard .serves .total-serves {
  display: inline-block;
  margin-right: -5%;
  position: absolute;
  top: 1vh;
  left: 0;
  text-align: right;
  vertical-align: middle;
  width: 100%;
}
/* line 79, ../sass/_action.scss */
.scoreboard .serves .total-serves h2 {
  color: #ddd;
  font-size: 0.5rem;
  padding-right: 5%;
}
/* line 84, ../sass/_action.scss */
.scoreboard .serves .total-serves h6 {
  color: #eee;
  font-size: 0.75rem;
  padding-right: 5%;
}
/* line 92, ../sass/_action.scss */
.scoreboard .current-score {
  background-color: rgba(238, 238, 238, 0.75);
  display: inline-block;
  padding: 2vh 2.5%;
  width: 96.5%;
}
/* line 97, ../sass/_action.scss */
.scoreboard .current-score .score {
  display: inline-block;
  width: 33%;
  vertical-align: middle;
}
/* line 101, ../sass/_action.scss */
.scoreboard .current-score .score h2 {
  font-family: "Monda";
  font-size: 2.5vh;
  line-height: 3vh;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 100%;
}
/* line 109, ../sass/_action.scss */
.scoreboard .current-score .score h6 {
  color: #7D0A44;
  font-family: "Monda";
  font-size: 18vh;
  line-height: 20vh;
  width: 100%;
}
/* line 116, ../sass/_action.scss */
.scoreboard .current-score .score .point-Cont {
  width: 100% !important;
}
/* line 118, ../sass/_action.scss */
.scoreboard .current-score .score .point-Cont div {
  display: inline-block;
  height: 18vh;
  width: 9vh;
}
/* line 124, ../sass/_action.scss */
.scoreboard .current-score .score div {
  cursor: pointer;
  display: inline-block;
  line-height: 5vh;
  padding: 1vh 0;
  text-transform: uppercase;
  width: 100%;
}
/* line 131, ../sass/_action.scss */
.scoreboard .current-score .score div.point {
  background-color: #df167a;
  color: #231F20;
}
/* line 135, ../sass/_action.scss */
.scoreboard .current-score .score div.body {
  background-color: #231F20;
  color: #df167a;
}
/* line 144, ../sass/_action.scss */
.scoreboard .current-match .matches {
  background-color: rgba(35, 31, 32, 0.5);
  display: inline-block;
  padding: 2vh 2.5%;
  text-align: left;
  width: 96.5%;
}
/* line 150, ../sass/_action.scss */
.scoreboard .current-match .matches li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}
/* line 156, ../sass/_action.scss */
.scoreboard .current-match .matches li.heading h5, .scoreboard .current-match .matches li.heading h6 {
  color: #eee !important;
}
/* line 159, ../sass/_action.scss */
.scoreboard .current-match .matches li.heading h6 {
  font-size: 1rem;
  font-family: 'Ubuntu';
}
/* line 164, ../sass/_action.scss */
.scoreboard .current-match .matches li h5 {
  color: #df167a;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1rem;
  padding: 2%;
  text-transform: uppercase;
  width: 100%;
}
/* line 174, ../sass/_action.scss */
.scoreboard .current-match .matches li h6 {
  color: #FF6186;
  font-family: "Monda";
  font-size: 2rem;
  line-height: 2.25rem;
  padding: 1% 2%;
  width: 100%;
}
/* line 181, ../sass/_action.scss */
.scoreboard .current-match .matches li h6.winner {
  font-size: 2.5rem;
}
/* line 184, ../sass/_action.scss */
.scoreboard .current-match .matches li h6.tie {
  font-size: 2.25rem;
}
/* line 192, ../sass/_action.scss */
.scoreboard .quit {
  background-color: #df167a;
  color: #231F20;
  cursor: pointer;
  display: inline-block;
  font-size: 5vh;
  height: 10vh;
  line-height: 10vh;
  text-transform: uppercase;
  width: 96.5%;
}

/* line 1, ../sass/_winner.scss */
.main.winner {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 9, ../sass/_winner.scss */
.main.winner .current-match .matches {
  background-color: rgba(35, 31, 32, 0.5);
  display: inline-block;
  padding: 2vh 2.5%;
  text-align: left;
  width: 96.5%;
}
/* line 15, ../sass/_winner.scss */
.main.winner .current-match .matches li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}
/* line 21, ../sass/_winner.scss */
.main.winner .current-match .matches li.heading h5, .main.winner .current-match .matches li.heading h6 {
  color: #eee !important;
}
/* line 24, ../sass/_winner.scss */
.main.winner .current-match .matches li.heading h6 {
  font-size: 1rem;
  font-family: 'Ubuntu';
}
/* line 29, ../sass/_winner.scss */
.main.winner .current-match .matches li h5 {
  color: #df167a;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1rem;
  padding: 2%;
  text-transform: uppercase;
  width: 100%;
}
/* line 39, ../sass/_winner.scss */
.main.winner .current-match .matches li h6 {
  color: #FF6186;
  font-family: "Monda";
  font-size: 2rem;
  line-height: 2.25rem;
  padding: 1% 2%;
  width: 100%;
}
/* line 46, ../sass/_winner.scss */
.main.winner .current-match .matches li h6.winner {
  font-size: 2.5rem;
}
/* line 49, ../sass/_winner.scss */
.main.winner .current-match .matches li h6.tie {
  font-size: 2.25rem;
}

/* line 16, ../sass/screen.scss */
html {
  background-color: #231F20;
  font-size: 20px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: center;
}

/* line 23, ../sass/screen.scss */
body {
  font-family: "Ubuntu", sans-serif;
}

/* line 26, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/screen.scss */
h1 {
  color: #eee;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  padding: 2rem;
  position: relative;
  text-transform: uppercase;
  width: 96.5%;
}
/* line 40, ../sass/screen.scss */
h1 div {
  opacity: 0.5;
  z-index: -1;
}

/* line 46, ../sass/screen.scss */
.page-content {
  min-height: 95vh;
  *zoom: 1;
}
/* line 38, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.page-content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 49, ../sass/screen.scss */
.page-content:before {
  content: '';
  display: inline-block;
  height: 98vh;
  vertical-align: middle;
  width: 0.1%;
}
/* line 56, ../sass/screen.scss */
.page-content > article {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}

/* line 62, ../sass/screen.scss */
.playPong {
  text-align: center;
  width: 100%;
}
/* line 65, ../sass/screen.scss */
.playPong div {
  color: #97898d;
  cursor: pointer;
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 96.5%;
  -moz-transition: background-color 5s;
  -o-transition: background-color 5s;
  -webkit-transition: background-color 5s;
  transition: background-color 5s;
  -webkit-animation-name: rotateBTN;
  animation-name: rotateBTN;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* line 77, ../sass/screen.scss */
.playPong div:hover {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* line 89, ../sass/screen.scss */
.logo {
  height: 50vh;
  margin-bottom: 20px;
}
/* line 92, ../sass/screen.scss */
.logo svg {
  display: inline-block;
  height: 50vh;
}

/* line 98, ../sass/screen.scss */
.initiate .logo, .action .logo, .winner .logo {
  -moz-transition: height 1s;
  -o-transition: height 1s;
  -webkit-transition: height 1s;
  transition: height 1s;
  height: 7.5vh;
}
/* line 101, ../sass/screen.scss */
.initiate .logo svg, .action .logo svg, .winner .logo svg {
  height: 7.5vh;
  -moz-transition: height 1s;
  -o-transition: height 1s;
  -webkit-transition: height 1s;
  transition: height 1s;
}

/* line 107, ../sass/screen.scss */
.voronoi.main {
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.25;
  z-index: -1;
}

/* line 113, ../sass/screen.scss */
.voronoi {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  right: 0;
  top: 0;
}

/* line 122, ../sass/screen.scss */
.q0 {
  fill: #6B083F;
}

/* line 123, ../sass/screen.scss */
.q1 {
  fill: #DC177A;
}

/* line 124, ../sass/screen.scss */
.q2 {
  fill: #D01160;
}

/* line 125, ../sass/screen.scss */
.q3 {
  fill: #9B0B4D;
}

/* line 126, ../sass/screen.scss */
.q4 {
  fill: #C20F5C;
}

/* line 127, ../sass/screen.scss */
.q5 {
  fill: #7D0A44;
}

/* line 128, ../sass/screen.scss */
.q6 {
  fill: #df167a;
}

/* line 2, ../sass/_mixins.scss */
.brianbeltz {
  background-image: url("../img/players/brianbeltz.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.kiernanhopkins {
  background-image: url("../img/players/kiernanhopkins.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.ryanasignacion {
  background-image: url("../img/players/ryanasignacion.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.davidperez {
  background-image: url("../img/players/davidperez.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.mikeperez {
  background-image: url("../img/players/mikeperez.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.isaacperez {
  background-image: url("../img/players/isaacperez.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.dereksanders {
  background-image: url("../img/players/dereksanders.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.jeffchambers {
  background-image: url("../img/players/jeffchambers.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.roberttindula {
  background-image: url("../img/players/roberttindula.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}

/* line 2, ../sass/_mixins.scss */
.timronan {
  background-image: url("../img/players/timronan.png") !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation-name: newPlayer;
  animation-name: newPlayer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: rgba(223, 22, 122, 0.75);
}
