.player1{
	color: $player1;
}
.player2{
	color: $player2;
}
.player3{
	color: $player3;
}
.player4{
	color: $player4;
}
.winner{
	color: $winner!important;
}
.tie{
	color: $tie!important;
}
.loser{
	color: $loser!important;
}

.action-Cont{
	-webkit-animation-name: fadeInDown;
	      animation-name: fadeInDown;
	-webkit-animation-duration: 0.75s;
	      animation-duration: 0.75s;
	-webkit-animation-fill-mode: both;
	      animation-fill-mode: both; 	
}

.scoreboard{

	.serves{
		background-color: rgba($logo-dark, 0.15);
		display: inline-block;
		margin: 0 1%;
		position: relative;
		width: 30%;
		vertical-align: middle;
		.voronoi{
			z-index: -1;
		}
		.current-server{
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			h2{
				color: $logo-pink;
				font-size: 1.5vh;
				line-height: 2vh;
				text-transform: uppercase;
			}
			div{
				width: 100%;
				height: 25vh;
			}
			h6{
				font-family: $score-font;
				font-size: 3vh;
				line-height: 4vh;
				text-transform: uppercase;
			}
			.serv-Cont{
				background-color: rgba( $logo-dark , 0.75 );
				height: 6vh;
				// margin-top: -6vh;
			}
		}
		.total-serves{
			display: inline-block;
			margin-right: -5%;
			position: absolute;
			top: 1vh;
			left: 0;
			text-align: right;
			vertical-align: middle;
			width: 100%;
			h2{
				color: #ddd;
				font-size: 0.5rem;
				padding-right: 5%;
			}
			h6{
				color: #eee;
				font-size: 0.75rem;
				padding-right: 5%;
			}
		}
	}

	.current-score{
		background-color: rgba(#eee, 0.75);
		display: inline-block;
		padding: 2vh 2.5%;
		width: 96.5%;
		.score{
			display: inline-block;
			width: 33%;
			vertical-align: middle;
			h2{
				font-family: $score-font;
				font-size: 2.5vh;
				line-height: 3vh;
				letter-spacing: 3px;
				text-transform: uppercase;
				width: 100%;
			}
			h6{
				color: $pink6;
				font-family: $score-font;
				font-size: 18vh;
				line-height: 20vh;
				width: 100%;
			}
			.point-Cont{
				width: 100%!important;
				div{
					display: inline-block;
					height: 18vh;
					width: 9vh;
				}
			}
			div{
				cursor: pointer;
				display: inline-block;
				line-height: 5vh;
				padding: 1vh 0;
				text-transform: uppercase;
				width: 100%;
				&.point{
					background-color: $logo-pink;
					color: $logo-dark;
				}
				&.body{
					background-color: $logo-dark;
					color: $logo-pink;
				}
			}
		}
	}

	.current-match{
		.matches{
			background-color: rgba($logo-dark, 0.5);
			display: inline-block;
			padding: 2vh 2.5%;
			text-align: left;
			width: 96.5%;
			li{
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				width: 15%;
				&.heading{
					h5, h6{
						color: #eee!important;
					}
					h6{
						font-size: 1rem;
						font-family: 'Ubuntu';
					}
				}
				h5{
					color: $logo-pink;
					font-size: 0.75rem;
					font-weight: 700;
					letter-spacing: 2px;
					line-height: 1rem;
					padding: 2%;
					text-transform: uppercase;
					width: 100%;
				}
				h6{
					color: $loser;
					font-family: $score-font;
					font-size: 2rem;
					line-height: 2.25rem;
					padding: 1% 2%;
					width: 100%;
					&.winner{
						font-size: 2.5rem;
					}
					&.tie{
						font-size: 2.25rem;
					}
				}
			}
		}
	}

	.quit{
		background-color: $logo-pink;
		color: $logo-dark;
		cursor: pointer;
		display: inline-block;
		font-size: 5vh;
		height: 10vh;
		line-height: 10vh;
		text-transform: uppercase;
		width: 96.5%;
	}

}