@-webkit-keyframes rotateBTN {
	0%,16%,33%,49%,67%,84%,100% {
		background-color : #7D0A44;
		border-color : #7D0A44;
	}
	0%, 67%, 100%{
		color: #fff;
	}
	16%{
		color: #ABABAB;
	}
	33%, 49%, 67%, 84%{
		color: $logo-dark;
	}
	0% {
		background-color : #7D0A44;
		border-color : #7D0A44;
	}
	16% {
		background-color : #9B0B4D;
		border-color : #9B0B4D;
	}
	33% {
		background-color : #DC177A;
		border-color : #DC177A;
	}
	49% {
		background-color : #D01160;
		border-color : #D01160;
	}
	67% {
		background-color : #6B083F;
		border-color : #6B083F;
	}
	84% {
		background-color : #C20F5C;
		border-color : #C20F5C;
	}
	100% {
		background-color : #7D0A44;
		border-color : #7D0A44;
	}
}
@keyframes rotateBTN {
	0%,16%,33%,49%,67%,84%,100% {
		background-color : #7D0A44;
		border-color : #7D0A44;
	}
	0%, 67%, 100%{
		color: #fff;
	}
	16%{
		color: #ABABAB;
	}
	33%, 49%, 67%, 84%{
		color: $logo-dark;
	}
	0% {
		background-color : #7D0A44;
		border-color : #7D0A44;
	}
	16% {
		background-color : #9B0B4D;
		border-color : #9B0B4D;
	}
	33% {
		background-color : #DC177A;
		border-color : #DC177A;
	}
	49% {
		background-color : #D01160;
		border-color : #D01160;
	}
	67% {
		background-color : #6B083F;
		border-color : #6B083F;
	}
	84% {
		background-color : #C20F5C;
		border-color : #C20F5C;
	}
	100% {
		background-color : #7D0A44;
		border-color : #7D0A44;
	}
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes newPlayer {
  0% {
  	color: scale-lightness(#F752EC, 0%);
  	font-size: 3vh;
  }
  50% {
  	color: scale-lightness(#F752EC, 50%);
  	font-size: 4vh;
  }
  100% {
  	color: scale-lightness(#F752EC, 50%);
  	font-size: 3vh;
  }
}
@keyframes newPlayer {
  0% {
  	color: scale-lightness(#F752EC, 0%);
  	font-size: 3vh;
  }
  50% {
  	color: scale-lightness(#F752EC, 50%);
  	font-size: 4vh;
  }
  100% {
  	color: scale-lightness(#F752EC, 0%);
  	font-size: 3vh;
  }
}