.init-Cont{
	button{
		border: 0;
		outline: none;

		background-color: $logo-dark;
		color: $logo-pink;
		cursor: pointer;
		display: inline-block;
		font-family: 'Ubuntu';
		font-size: 4vh;
		height: 10vh;
		margin-top: 1vh;
		text-transform: uppercase;
		@include transition(all 0.5s);
		width: 96.5%;
		&:hover{
			background-color: scale-lightness($logo-dark, 10%);
			font-size: 5vh;
			@include transition(all 0.5s);
		}
		&.inactive{
			color: rgba($logo-pink, 0.25);
			font-size: 3vh;
			pointer-events: none;
			@include transition(color 0.5s);
		}
	}
	.player-settings{
		width: 100%;
		.team{
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 47%;
			&:first-child{
				margin-right: 2.5%
			}
			h3{
				color: #eee;
				font-size: 5vh;
				font-weight: 700;
				letter-spacing: 3px;
				line-height: 7.5vh;
				pointer-events: none;
				position: relative;
				text-transform: uppercase;
			}
		}
		.team1{
			h4{
				color: $logo-pink;
  				@include text-shadow( 1px 1px 0 scale-lightness($logo-dark, 10%), -1px 1px 0 scale-lightness($logo-dark, 10%), 1px -1px 0 scale-lightness($logo-dark, 10%), -1px -1px 0 scale-lightness($logo-dark, 10%) );
			}
			.p1 h4{
				background-color: rgba($player1, 0.75);
			}
			.p2 h4{
				background-color: rgba($player3, 0.75);
			}
		}
		.team2{
			h4{
				color: $pink1;
  				@include text-shadow( 1px 1px 0 #eee, -1px 1px 0 #eee, 1px -1px 0 #eee, -1px -1px 0 #eee );
			}
			.p1 h4{
				background-color: rgba($player2, 0.75);
			}
			.p2 h4{
				background-color: rgba($player4, 0.75);
			}
		}
		.selectTag{
			min-height: 24vh;
			padding-bottom: 1vh;
			position: relative;
			&.open{
				overflow: scroll;
				ul{
					height: auto!important;
					z-index: 500;
					li{
						border-bottom: 1px solid $logo-dark;
						border-top: 1px solid $logo-dark;
						cursor: pointer;
						max-height: 50vh;
					    opacity: 1;
				    	padding: 0.5rem;
					    pointer-events: auto;
					    @include transform(translate3d(0, 0, 0));
						-webkit-animation-name: fadeInDown;
						      animation-name: fadeInDown;
						-webkit-animation-duration: 0.75s;
						      animation-duration: 0.75s;					    		
					}
				}
			}
			input{
				display: none;
			}
			h4{
				background-image: url('../img/pl-profile.svg');
				background-position: bottom center;
				background-repeat: no-repeat;				
				background-size: contain;
				cursor: pointer;
				display: inline-block;
				font-size: 3vh;
				font-weight: 700;
				letter-spacing: 5px;
				line-height: 5vh;
				min-height: 23.5vh;
				padding-top: 18vh;
				position: relative;
				text-transform: uppercase;
				width: 95%;
				&:first-child{
					margin-bottom: 1vh;
				}
				@include transition(all 1s);
			}
			ul{
				bottom: 0;
				height: 0!important;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
				li{
					background-color: $pink6;
					background-image: none!important;
					color: #ccc;
					display: inline-block;
					max-height: 0;
				    opacity: 0;
				    pointer-events: none;
				    width: 100%;
				    @include transform(translate3d(0, -100%, 0));			
				}
			}
		}
	}
	.game-settings{
		background-color: #eee;
		display: inline-block;
		margin-top: 10px;
		width: 96.5%;
		.selectTag{
			display: inline-block;
			padding: 1vh 0;
			position: relative;
			vertical-align: middle;
			width: 30%;
			&.open{
				overflow: scroll;
				ul{
					height: auto!important;
					z-index: 500;
					li{
						border-bottom: 1px solid $logo-dark;
						border-top: 1px solid $logo-dark;
						cursor: pointer;
						max-height: 50vh;
					    opacity: 1;
				    	padding: 0.5rem;
					    pointer-events: auto;
					    @include transform(translate3d(0, 0, 0));
						-webkit-animation-name: fadeInDown;
						      animation-name: fadeInDown;
						-webkit-animation-duration: 0.75s;
						      animation-duration: 0.75s;					    		
					}
				}
			}
			input{
				display: none;
			}
			h3{
				padding: 0 0 1vh;
			}
			h4{
				background-color: $logo-pink;
				cursor: pointer;
				font-size: 2.5vh;
				padding: 1.25vh 0;
			}
			ul{
				bottom: 0;
				height: 0!important;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
				li{
					background-color: $pink6;
					background-image: none!important;
					color: #ccc;
					display: inline-block;
					max-height: 0;
				    opacity: 0;
				    pointer-events: none;
				    width: 100%;
				    @include transform(translate3d(0, -100%, 0));			
				}
			}
		}
	}
	-webkit-animation-name: fadeInDown;
	      animation-name: fadeInDown;
	-webkit-animation-duration: 0.75s;
	      animation-duration: 0.75s;
	-webkit-animation-delay: 0.5s;
	      animation-delay: 0.5s;
	-webkit-animation-fill-mode: both;
	      animation-fill-mode: both;          
}