@mixin player-profile($name) {
	.#{$name}{
		background-image: url('../img/players/#{$name}.png')!important;
		background-position: bottom center!important;
		background-repeat: no-repeat!important;
		background-size: contain!important;
		@include transition(all 1s);
		-webkit-animation-name: newPlayer;
		      animation-name: newPlayer;
		-webkit-animation-duration: 1s;
		      animation-duration: 1s;
		color: rgba($logo-pink, 0.75);
	}
}