$logo-pink : #df167a;
$logo-dark : #231F20;

$pink1 : #6B083F;
$pink2 : #DC177A;
$pink3 : #D01160;
$pink4 : #9B0B4D;
$pink5 : #C20F5C;
$pink6 : #7D0A44;

$player1 : #BEFF00;
$player2 : #7F8082;
$player3 : #FF0078;
$player4 : #003CFF;

$winner : #61FF81;
$loser : #FF6186;
$tie : #F9FF45;

$score-font : 'Monda';