.main.winner{
	-webkit-animation-name: fadeInDown;
	      animation-name: fadeInDown;
	-webkit-animation-duration: 0.75s;
	      animation-duration: 0.75s;
	-webkit-animation-fill-mode: both;
	      animation-fill-mode: both; 
	.current-match{
		.matches{
			background-color: rgba($logo-dark, 0.5);
			display: inline-block;
			padding: 2vh 2.5%;
			text-align: left;
			width: 96.5%;
			li{
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				width: 15%;
				&.heading{
					h5, h6{
						color: #eee!important;
					}
					h6{
						font-size: 1rem;
						font-family: 'Ubuntu';
					}
				}
				h5{
					color: $logo-pink;
					font-size: 0.75rem;
					font-weight: 700;
					letter-spacing: 2px;
					line-height: 1rem;
					padding: 2%;
					text-transform: uppercase;
					width: 100%;
				}
				h6{
					color: $loser;
					font-family: $score-font;
					font-size: 2rem;
					line-height: 2.25rem;
					padding: 1% 2%;
					width: 100%;
					&.winner{
						font-size: 2.5rem;
					}
					&.tie{
						font-size: 2.25rem;
					}
				}
			}
		}
	}
	
}