/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "_var";
@import "_mixins";
@import "_ani";
@import "_init";
@import "_action";
@import "_winner";

html{
	background-color: $logo-dark;
	font-size: 20px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;	
	text-align: center;
}
body{
  font-family: "Ubuntu", sans-serif;
}
*{
	@include box-sizing( border-box );
}

h1{
	color: #eee;
	display: inline-block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.25rem;
	padding: 2rem;
	position: relative;
	text-transform: uppercase;
	width: 96.5%;
	div{
		opacity: 0.5;
		z-index: -1;
	}
}

.page-content{
	min-height: 95vh;
	@include pie-clearfix;
	&:before{
		content: '';
		display: inline-block;
		height: 98vh;
		vertical-align: middle;
		width: 0.1%;
	}
	>article{
		display: inline-block;
		vertical-align: middle;
		width: 95%;
	}
}
.playPong{
	text-align: center;
	width: 100%;
	div{
		color: scale-lightness($logo-dark, 50%);
		cursor: pointer;
		display: inline-block;
		font-size: 3rem;
		letter-spacing: 0.5rem;
		padding: 0.5rem 1rem;
		text-decoration: none;
		text-transform: uppercase;
		width: 96.5%;
		// @include transition( all 0.2s );
		@include transition( background-color 5s );
		&:hover{
			-webkit-animation-duration: 0.5s;
			      animation-duration: 0.5s;
		}
		-webkit-animation-name: rotateBTN;
		      animation-name: rotateBTN;
		-webkit-animation-duration: 15s;
		      animation-duration: 15s;
		-webkit-animation-iteration-count: infinite;
		      animation-iteration-count: infinite;
	}
}
.logo{
	height: 50vh;
	margin-bottom: 20px;
	svg{
		display: inline-block;
		height: 50vh;
	}
}
.initiate, .action, .winner{
	.logo{
		@include transition(height 1s);
		height: 7.5vh;
		svg{
			height: 7.5vh;
			@include transition(height 1s);
		}
	}
}
.voronoi.main{
	min-height: 100vh;
	min-width: 100vw;
	opacity: 0.25;
	z-index: -1;
}
.voronoi{
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.75;
	right: 0;
	top: 0;
}
.q0{ fill: $pink1; }
.q1{ fill: $pink2; }
.q2{ fill: $pink3; }
.q3{ fill: $pink4; }
.q4{ fill: $pink5; }
.q5{ fill: $pink6; }
.q6{ fill: $logo-pink; }

@include player-profile(brianbeltz);
@include player-profile(kiernanhopkins);
@include player-profile(ryanasignacion);
@include player-profile(davidperez);
@include player-profile(mikeperez);
@include player-profile(isaacperez);
@include player-profile(dereksanders);
@include player-profile(jeffchambers);
@include player-profile(roberttindula);
@include player-profile(timronan);