<section class="action-Cont">

    <section class="scoreboard">

        <div class="current-score">

            <div class="score team1">
                <div class="point" ng-click="scorePoint({winner:1,body_shot:0});">
                        Team 1 Point
                </div>
                <h2>Team 1</h2>
                <h6 ng-show="iOS">{{t1s}}</h6>
                <div class="point-Cont" ng-show="!iOS">
                    <div class="first">
                        <ng-include src="'../img/numbers.svg'" aninum></ng-include>
                    </div>
                    <div class="second">
                        <ng-include src="'../img/numbers.svg'" aninum vb="(t1s)*50"></ng-include>
                    </div>
                </div>
                <div class="body" ng-click="scorePoint({winner:1,body_shot:1});">
                        Team 1 Body Shot
                </div>
            </div>

            <div class="serves">

                <div class="voronoi" voronoi dynamic="true" subtle="true"></div>

                <div class="current-server">
                    <div class="{{playerServing.name.toLowerCase().replace(' ', '')}}"></div>
                    <div class="serv-Cont">
                        <h2>Current Server</h2>
                        <h6 class="player{{playerServing.num}}">{{playerServing.name}}</h6>
                    </div>
                </div>

                <div class="total-serves">
                    <h2>Total Serves</h2>
                    <h2>{{serves}}</h2>
                </div>

            </div>

            <div class="score team2">
                <div class="point" ng-click="scorePoint({winner:2,body_shot:0});">
                        Team 2 Point
                </div>
                <h2>Team 2</h2>
                <h6 ng-show="iOS">{{t2s}}</h6>
                <div class="point-Cont" ng-show="!iOS">
                    <div class="first">
                        <ng-include src="'../img/numbers.svg'" aninum></ng-include>
                    </div>
                    <div class="second">
                        <ng-include src="'../img/numbers.svg'" aninum vb="(t2s)*50"></ng-include>
                    </div>
                </div>
                <div class="body" ng-click="scorePoint({winner:2,body_shot:1});">
                        Team 2 Body Shot
                </div>
            </div>

        </div>

        <div class="current-match">

            <ul class="matches">
                <li class="heading">
                    <h5>Sets</h5>
                    <h6>Team 1</h6>
                    <h6>Team 2</h6>
                </li>

                <li ng-repeat="sets in setsPlayed">
                    <h5>{{$index + 1}}</h5>
                    <h6 ng-class="{'winner':  sets.team1 > sets.team2, 'tie':sets.team1 == sets.team2}">{{sets.team1}}</h6>
                    <h6 ng-class="{'winner':  sets.team2 > sets.team1, 'tie':sets.team1 == sets.team2}">{{sets.team2}}</h6>
                </li>
            </ul>

        </div>

        <div class="quit" ng-click="endNow();">
            End Match Now
        </div>

    </section>

</section>