<article class="init-Cont">

    <form name="new_game_form" role="form" autocomplete="off">

        <section class="player-settings">
            
            <div class="team1 team">

                <div class="voronoi" voronoi subtle="true"></div>
                
                <h3>Team 1</h3>

                <div class="selectTag p1" selecttag>

                    <h4 ng-class="player1.toLowerCase().replace(' ', '')">{{player1}}</h4>
                    
                    <input ng-model="newMatch.p1">
                    <ul class="options">
                        <li preload-bg-image="img/players/{{player.name.toLowerCase().replace(' ', '')}}.png" ng-repeat="player in players | orderBy: ['ronan_rating','name']" ng-click="formInput(player.id, player.ronan_rating, 1, player.name)" liz>{{player.name}}</li>
                    </ul>

                </div>

                <div class="selectTag p2" selecttag>

                    <h4 ng-class="player3.toLowerCase().replace(' ', '')">{{player3}}</h4>
                    
                    <input ng-model="newMatch.p3">
                    <ul class="options">
                        <li ng-repeat="player in players | orderBy: ['ronan_rating','name']" ng-click="formInput(player.id, player.ronan_rating, 3, player.name)" liz>{{player.name}}</li>
                    </ul>

                </div>

            </div>

            <div class="team2 team">

                <div class="voronoi" voronoi subtle="true"></div>

                <h3>Team 2</h3>

                <div class="selectTag p1" selecttag>

                    <h4 ng-class="player2.toLowerCase().replace(' ', '')">{{player2}}</h4>
                    
                    <input ng-model="newMatch.p2">
                    <ul class="options">
                        <li ng-repeat="player in players | orderBy: ['ronan_rating','name']" ng-click="formInput(player.id, player.ronan_rating, 2, player.name)" liz>{{player.name}}</li>
                    </ul>

                </div>

                <div class="selectTag p2" selecttag>

                    <h4 ng-class="player4.toLowerCase().replace(' ', '')">{{player4}}</h4>
                    
                    <input ng-model="newMatch.p4">
                    <ul class="options">
                        <li ng-repeat="player in players | orderBy: ['ronan_rating','name']" ng-click="formInput(player.id, player.ronan_rating, 4, player.name)" liz>{{player.name}}</li>
                    </ul>

                </div>

            </div>

        </section>

        <section class="game-settings">
            
            <div class="selectTag bestOf" selecttag>

                <h3>Best Of</h3>
                <h4>{{bestOf}}</h4>
                
                <input ng-model="newMatch.sets" ng-init="newMatch.sets = 3">
                <ul class="options">
                    <li ng-repeat="values in [1,3,5]" ng-click="boM(values)" liz>{{values}}</li>
                </ul>

            </div>
            
            <div class="selectTag upTo" selecttag>

                <h3>Games To</h3>
                <h4>{{upTo}}</h4>
                
                <input ng-model="newMatch.games" ng-init="newMatch.games = 15">
                <ul class="options">
                    <li ng-repeat="values in [11,15,21,25]" ng-click="utM(values)" liz>{{values}}</li>
                </ul>

            </div>

            <div class="selectTag serving" selecttag>

                <h3>Starting Server</h3>
                <h4>{{playerServing.name}}</h4>
                
                <ul class="options">
                    <li ng-repeat="values in [1,2,3,4]" ng-click="servM(values)" ng-if="newMatch['p'+values]" liz>{{values}}</li>
                </ul>

            </div>

        </section>

        <button ng-click="startMatch(newMatch);"
                ng-disabled="new_game_form.$invalid || enableUpdate"
                type="submit"
                ng-class="{'inactive': player1 == 'Player 1' || player2 == 'Player 2' || !playerz} ">
                Start Match
        </button>

    </form>

</article>
