<article class="main winner">

    <h1>
		<div class="voronoi" voronoi subtle="true"></div>
    	{{winner.p1}}{{winner.p2}}
    </h1>

    <div class="current-match">

        <ul class="matches">
            <li class="heading">
                <h5>Sets</h5>
                <h6>Team 1</h6>
                <h6>Team 2</h6>
            </li>

            <li ng-repeat="sets in setsPlayed">
                <h5>{{$index + 1}}</h5>
                <h6 ng-class="{'winner':  sets.team1 > sets.team2, 'tie':sets.team1 == sets.team2}">{{sets.team1}}</h6>
                <h6 ng-class="{'winner':  sets.team2 > sets.team1, 'tie':sets.team1 == sets.team2}">{{sets.team2}}</h6>
            </li>
        </ul>

    </div>

</article>
