<section id="ingame" ng-class="{'initiate' : $state.includes('ingame.initiate'), 'action' : $state.includes('ingame.action'), 'winner' : $state.includes('ingame.winner')}">

	<div class="logo">
		<ng-include src="'../img/1p21logo.svg'" animatePoly></ng-include>
	</div>

    <div id="ingame-views" ui-view>
        
    </div>

	<div class="playPong">
	    <div ng-hide="$state.includes('ingame.initiate') || $state.includes('ingame.action') || active != 'none'" ng-click="btnInit()">Play Ping Pong</div>
	    <div ng-hide="active == 'none'" ng-click="btnLive()">Live</div>
	</div>

</section>