<section class="action-Cont">

<!--     <h2>{{liveStats.p1}}</h2>
    <h2>{{liveStats.p2}}</h2>
    <h2>{{liveStats.p3}}</h2>
    <h2>{{liveStats.p4}}</h2>
    <h2>{{liveStats.t1}}</h2>
    <h2>{{liveStats.t2}}</h2>
    <h2>{{liveStats.s1}}</h2>
    <h2>{{liveStats.s2}}</h2>
    <h2>{{liveStats.s3}}</h2>
    <h2>{{liveStats.s4}}</h2>
    <h2>{{liveStats.s5}}</h2> -->
    <h2>{{liveStats.time}}</h2>

    <section class="scoreboard">

        <div class="current-score">

            <div class="score team1">
                <h2>Team 1</h2>
                <h2>{{liveStats.p1}}</h2>
                <h2 ng-show="liveStats.p3 != 'Player 3'">{{liveStats.p3}}</h2>
                <h6>{{liveStats.t1}}</h6>
            </div>

            <div class="score team2">
                <h2>Team 2</h2>
                <h2>{{liveStats.p2}}</h2>
                <h2 ng-show="liveStats.p4 != 'Player 4'">{{liveStats.p4}}</h2>                
                <h6>{{liveStats.t2}}</h6>
            </div>

        </div>

        <div class="current-match">

            <ul class="matches">
                <li class="heading">
                    <h5>Sets</h5>
                    <h6>Team 1</h6>
                    <h6>Team 2</h6>
                </li>

                <li ng-repeat="sets in setsPlayed">
                    <h5>{{$index + 1}}</h5>
                    <h6 ng-class="{'winner':  sets[0] > sets[1], 'tie':sets[0] == sets[1]}">{{sets[0]}}</h6>
                    <h6 ng-class="{'winner':  sets[0] < sets[1], 'tie':sets[0] == sets[1]}">{{sets[1]}}</h6>
                </li>
            </ul>

        </div>

    </section>

</section>